@using Lab.Models
@model List<ProductModel>
@{
    ViewData["Title"] = "Home Page";
}

<table>
    <th>
        <td>Id</td>
        <td>Title</td>
        <td>Description</td>
        <td>CatalogName</td>
    </th>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.Catalog.Title</td>
        </tr>
    }
</table>