@using Lab.Models
@model List<ProductModel>
@{
    ViewData["Title"] = "Home Page";
}

<h2>Szukaj po frazie produktu</h2>
<form asp-action="seek">
    <input type="text" name="q"/>
    <input type="submit" value="Szukaj"/>
</form>

<table>
    <th>
        <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Description</td>
        <td>CatalogName</td>
        </tr>
    </th>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.Catalog.Title</td>
        </tr>
    }
    </tbody>
</table>