@using Microsoft.AspNetCore.Mvc.Localization
@model ErrorViewModel
@inject IHtmlLocalizer<MyHttpException> ErrorLocalizer
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@ErrorLocalizer[$"{Model.Code} - {Model.Title}"]</h1>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

@ErrorLocalizer[$"<p hidden>{Model.Code}</p>"]
